<footer class="footer-container">
  <div class="footer-content">
    <!-- Left Section -->
    <div class="footer-left">
      <p>{{ footer()?.address?.name }}</p>
      <p>{{ footer()?.address?.phone }}</p>
      <p>{{ footer()?.address?.location }}</p>
    </div>

    <!-- Middle Section -->
    <div class="footer-middle">
      <ul>
        @for(item of footer()?.links; track $index) {
        <li>
          <a href="{{ item.url }}">{{ item.name }}</a>
        </li>
        }
      </ul>
    </div>

    <!-- Right Section -->
    <!-- <div class="footer-right">
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Nous contacter</a></li>
      </ul>
    </div> -->
  </div>

  <!-- Bottom Section -->
  <div class="footer-bottom">
    <p>© BASIC 2024</p>
    <div class="social-icons">
      <a href="#"><img src="assets/icons/facebook.svg" alt="Facebook" /></a>
      <a href="#"><img src="assets/icons/instagram.svg" alt="Instagram" /></a>
      <a href="#"><img src="assets/icons/youtube.svg" alt="YouTube" /></a>
    </div>
  </div>
</footer>
