<div class="calendar-container">
  <div class="calendar-header">
    <img
      src="assets/icons/arrow-left.svg"
      alt="Card Image 1"
      (click)="prevMonth()"
    />
    <h2>
      {{
        currentDate.toLocaleString('default', {
          month: 'long',
          year: 'numeric'
        })
      }}
    </h2>
    <span>
      <img
        src="assets/icons/arrow-right.svg"
        alt="Card Image 1"
        (click)="nextMonth()"
      />
    </span>
  </div>
  <div class="calendar-grid">
    <div
      class="day-label"
      *ngFor="let day of ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']"
    >
      {{ day }}
    </div>
    <div
      *ngFor="let day of daysInMonth"
      class="day"
      [ngClass]="{
        libre: day?.status === 'Libre',
        occupe: day?.status === 'Occupé',
        today: day?.isToday
      }"
    >
      {{ day?.day }}
      <span *ngIf="day?.status">{{ day?.status }}</span>
    </div>
  </div>
</div>
